include ../modules/icon/icon
include ../content/dropdown

#menu-container
    #left-sidebar-container
    #right-sidebar-container
        ul#helper-menu.close-button
          li
            +icon({type: "close-menu glyphicon glyphicon-remove"})
        
        #locale-container.hidden-md.hidden-lg.sidebar-locale-selector-container
            .locale-dropdown-container
                if locales
                    +dropdown({id:'locale-selector', size: 'md', classes: 'locale-sidebar-selector locale-selector-btn-group', selected: selectedItem, items: locales, current: locale})

        .action-button-container
            button#add-key-button.btn.btn-primary(type="button") Add Key
            if admin && admin == true
                button#user-management-button.btn.btn-primary(type="button") User Management
                button#import-button.btn.btn-primary(type="button") Import
                    input#import-file(type="file", name="filesToUpload[]", multiple)
            //-button#export-button.btn.btn-primary(type="button") Export
            //-button#generate-auth-token-button.btn.btn-primary(type="button") Generate Auth Token
            //-.auth-token

        if admin && admin == true
            .user-management-button-container

        .logout-button-container
            button#logout-button.btn.btn-primary(type="button") Logout

