include ../content/dropdown


div#global-search
    #search-container.container-fluid.col-sm-12
        .input-field-group.col-md-10.col-xs-12
            span#clear-search-filter.glyphicon.glyphicon-remove(class="#{searchValue && searchValue != '' && searchValue != null ? '' : 'hidden'}")
            input#global-search-filter.form-control(type="text", placeholder="Search for keys and translations, add keys or change locale", value="#{searchValue}")
            .global-search-autocomplete-panel
        #locale-container.col-md-2.hidden-sm
            .locale-dropdown-container
                if locales
                    +dropdown({id:'locale-selector', size: 'md', classes: 'locale-selector-btn-group', selected: selectedItem, items: locales, current: locale})