#language-portal-log-in
    #login-panel
        h1.log-in-header Log In
        .row
            input#loginname(type="text", name="username", placeholder="Username")
        .row
            input#password(type="password", name="password", placeholder="Password")
        .row
            button.login-button Log In
        .row
            .row.error-message.hidden(style="margin: 15px 10px; background-color: #d9534f; border-radius: 4px;")
                h4(style="padding: 5px; font-size: 16px; font-weight: bold; margin: 6px 0px 0px; color: white; line-height: 20px;") Attention
                p.msg(style="padding: 5px; font-size: 14px; color: white; line-height: 20px;") Please check the correct usage of upper and lower cases and check the "CAPS LOCK" key on your keyboard.
